include config.pug

doctype html
html(lang=lang)
  head
    meta(charset=`UTF-8`)
    meta(http-equiv=`X-UA-Compatible` content=`IE=edge`)
    meta(name=`viewport` content=`width=device-width, initial-scale=1.0`)
    title #{title} | Title
    block metatags
    link(rel=`icon` href=`favicon.ico`)
    link(rel=`icon` href=`img/favicon/favicon.svg` type=`image/svg+xml`)
    link(rel=`apple-touch-icon` sizes=`180x180` href=`img/favicon/apple-touch-icon.png`)
    link(rel=`manifest` href=`manifest.webmanifest`)
    link(rel=`preload` href=`./fonts/`+basicFont+`.woff2` as=`font` type=`font/woff2` crossorigin=`anonymous`)
    link(rel=`stylesheet` href=`css/style.min.css`)
  body
    include _header.pug
    main.main
      block content
    include _footer.pug
    script(src=`js/main.min.js`)
