include includes/global/_config.pug

doctype html
html(lang=lang)
  include includes/global/_head.pug
  body
    include includes/blocks/_header.pug
    main.main
      h1.visually-hidden Онлайн-магазин транспортных средств
      include includes/blocks/_hero.pug
  footer.footer
    .container
  script(src=`js/main.min.js`)
