.price {
  display: grid;
  grid-template-columns: max-content min-content;
  column-gap: 7px;
  align-items: baseline;
  margin: 0;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2;
  color: inherit;
}

.price svg {
  fill: inherit;
}

.price--old {
  font-weight: normal;
  font-size: 14px;
  color: $secondary-text-color;
}

.price--old .price__number {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg);
    background-color: #c4c4c4;
  }
}
