- var lang = `ru`;
- var title = `Drive Moto`;
- var themeColor = `#ffffff`;
- var keywords = `квадроциклы, гидроциклы, катера, снегоходы, вездеходы, двигатели, запчасти`;
- var description = `Онлайн-магазин транспортных средств`;
- var basicFont = `SFProDisplay-Regular`;
- var additionalFont = ``;
