// Шрифт

$base-font: "Arial", sans-serif;

// Цвет

$main-text-color: #2f3035;
$secondary-text-color: #c4c4c4;
$accent-color: #1c62cd;
$base-color: #f0f0f4;

// Брейкпоинт
$tablet-width: 768px;
$desktop-width: 1320px;

// Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
