// Шрифт

$base-font: "Arial", sans-serif;

// Цвет

$black: #000000;
$dimGray: #212121;
$gray: #4a4a4a;
$silver: #797979;
$lightGray: #929292;
$gainsboro: #9b9b9b;
$whiteSmoke: #f9f6e5;
$white: #ffffff;
$navy: #2b4074;
$green: #6bb071;
$limeGreen: #7ebf84;
$darkGreen: #476e4d;

// Брейкпоинт
$tablet-width: 768px;
$desktop-width: 1320px;

// Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
